.container {
    width: 302px;
    height: 100px;
    padding: 8px;
    border-radius: 2px;
    border: 1px;
    border-color: rgba(223, 223, 223, 1);
    background-color: #FFFFFF;
    // display: flex;    
    // justify-content: space-between;
    // flex-direction: row;
    // text-align: center;
    // justify-items: center;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.full_name {
    font-family: "Open Sans", serif;
    font-weight: 700;
    text-align: left;
    color: #6E7B70;
}

.group_name {
    font-family: "Open Sans", serif;
    font-weight: 400;
    text-align: left;
    color: rgba(110, 123, 112, 0.6);
}

.right {
   display: flex;
   flex-direction: column;   
   justify-items: right;
}

.table_name {
    font-family: "Open Sans", serif;
    font-weight: 400;
    color: rgba(168, 176, 169, 1);
}