@import "src/shared/scss/_variables.scss";
@import "src/shared/scss/_media-queries.scss";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;

    &--count {
      font-size: 14px;
      font-family: Inter, sans-serif;

      &-loading {
        height: 12px;
        width: 70px;
        border-radius: 4px;
        overflow: hidden;
        background-color: $--gray;
      }
    }

    &--title {
      color: $--primary;
      font-family: Inter, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;

      &-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &-loading {
        height: 24px;
        width: 120px;
        border-radius: 4px;
        background-color: $--gray;
        overflow: hidden;
      }
    }

    &--buttons {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &--create {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid $--primary;
      cursor: pointer;
      background-color: $--primary;
      width: 32px;
      height: 32px;

      &__img {
        padding: 4px;
      }

      &:hover {
        background-color: $--dark;
        border: 1px solid $--dark;
      }
    }

    &--refresh {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid $--primary;
      cursor: pointer;

      &__img {
        padding: 8px;
      }

      &-loading {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: $--gray;
        overflow: hidden;
      }

      &:hover {
        background-color: $--primary;
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(12%)
            saturate(7500%) hue-rotate(184deg) brightness(103%) contrast(115%);
          rotate: 180deg;
          transition: rotate 300ms;
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: space-between;

    @include mobile {
      flex-direction: column-reverse;
    }

    &--views {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-left: 8px;
      flex-wrap: wrap;

      &-loading {
        height: 20px;
        width: 72px;
        border-radius: 4px;
        background-color: $--gray;
        overflow: hidden;
      }

      &__label {
        font-family: Inter, sans-serif;
        font-size: 14px;
      }
    }

    &--left {
      display: flex;
      gap: 16px;
      flex-direction: row;
      align-items: center;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &--right {
      display: flex;
      gap: 16px;
      align-items: center;
      flex-direction: row;

      &-send-loading {
        width: 142px;
        height: 40px;
        border-radius: 4px;
        background-color: $--gray;
        overflow: hidden;

        @include mobile {
          width: 100%;
        }
      }

      &-delete-loading {
        width: 92px;
        height: 40px;
        border-radius: 4px;
        background-color: $--gray;
        overflow: hidden;

        @include mobile {
          width: 100%;
        }
      }

      &__label {
        font-family: Inter, sans-serif;
        font-size: 14px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    &--search {
      border-radius: 4px;
      border: 1px solid $--primary;
      background: var(--Black-White, #fff);

      &-loading {
        width: 227px;
        height: 28px;
        border-radius: 4px;
        background-color: $--gray;
        overflow: hidden;

        @include mobile {
          width: 100%;
          height: 40px;
          border-radius: 4px;
          background-color: $--gray;
          overflow: hidden;
        }
      }

      @include mobile {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
      }

      &__container {
        padding: 4px;
        display: flex;
        align-items: center;

        &--input {
          border: none;
          outline: none;
          font-family: Inter, sans-serif;
          font-size: 14px;
        }
      }
    }
  }
}

.skeleton {
  width: 0;
  height: 100%;
  box-shadow: 0 0 50px 50px rgba(255, 255, 255, 1);
  animation: skeleton 1.3s linear infinite;
  opacity: 0;
}

@keyframes skeleton {
  0% {
    transform: translate(-50px);
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  50% {
    transform: translate(0px);
    opacity: 0.5;
  }

  100% {
    transform: translate(300px);
    opacity: 1;
  }
}

.select-all {
  display: none;

  @include mobile {
    display: block;
    margin-left: 8px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    color: $--primary;
    margin-bottom: 16px;
  }
}

.tables_list {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
