$--gray: gray;
$--dark-gray: #414141;
$--light: #f6f4f3;

$--primary: #77877a;
$--primary-light: #ebf3e9;
$--primary-active: #77877a;
$--primary-dark: rgba(119, 135, 122, 0.4);

$--secondary: #a2b2a7;
$--tertiary: #e8e8e8;

$--dark: #3c363b;
