//Container box background
.actions {
    width: 179px;
    height: 54px;
    padding: 16px;
    gap: 16px;
    border-radius: 2px;
    border:1px solid #dfdfdfff;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-content: center;
}

//container actions 
.container_active {
    width: 100%;
    font-family: Inter, sans-serif;
    cursor: pointer;
    color: #6E7B70;
}
    

.container_inactive {
    width: 100%;
    font-family: Inter, sans-serif;
    cursor: pointer;
    color: #6E7B70;    
    
    &:hover{
        border-bottom:1px solid #6E7B70;
        transition: 0.25s ease;
    }
}



//Texts active or not
.actions_active {
    font-weight: 500;
    color: #6E7B70;
}

.actions_inactive {
    font-weight: 500;
    color: #6E7B70;
}

.container_display {
    display: flex;
    justify-content: space-between;
}

