//Container box background
.actions {
    width: 179px;
    height: 86px;
    padding: 16px;
    border-radius: 2px 0px 0px 0px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

//container actions 
.container_active {
    width: 100%;
    font-family: Inter, sans-serif;
    cursor: pointer;
    color: #6E7B70;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
}
    

.container_inactive {
    width: 100%;
    font-family: Inter, sans-serif;
    cursor: pointer;
    color: #6E7B70;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
}
    // &:hover{
    //     background-color:#6E7B70;
    //     color: #FFFFFF;
    //     transition: 0.25s ease;
    // }


//Texts active or not
.actions_active {
    font-size: 16px;
    font-weight: 500;
    gap: 16px;
}

.actions_inactive {
    font-size: 16px;
    font-weight: 500;
    gap: 16px;
}

