//Container box background
.actions {
    width: 179px;
    height: 86px;
    padding: 16px;
    border-radius: 2px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//container actions 
.container_active {
    width: 100%;
    font-family: Inter, sans-serif;
    cursor: pointer;
    color: #6E7B70;
    gap: 16px;
}
    

.container_inactive {
    width: 100%;
    font-family: Inter, sans-serif;
    cursor: pointer;
    color: #6E7B70;
    gap: 16px;
}
    // &:hover{
    //     background-color:#6E7B70;
    //     color: #FFFFFF;
    //     transition: 0.25s ease;
    // }


//Texts active or not
.actions_active {
    font-size: 16px;
    font-weight: 500;
    gap: 16px;
}

.actions_inactive {
    font-size: 16px;
    font-weight: 500;
    gap: 16px;
}

.left {
    display: flex;
    align-items: flex-end;
}

.right {
    display: flex;
    align-items: flex-end;
}
