.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;

  &__input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--label {
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
