@import "@/shared/scss/_variables.scss";
@import "@/shared/scss/_media-queries.scss";

.container {
  width: 100%;
  height: 100vh;
  background-image: url("/login/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    backdrop-filter: blur(20px);
    border-radius: 8px;
    width: 90%;
    max-width: 375px;

    &--form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;

      &__title {
        font-family: Inter, sans-serif;
        font-size: 24px;
        color: #fff;
        @include mobile {
          color: $--dark-gray;
        }
        text-align: center;
      }

      &__label {
        font-family: Inter, sans-serif;
        font-size: 14px;
        color: #fff;
        @include mobile {
          color: $--dark-gray;
        }
        font-weight: 600;
      }

      &__input {
        display: flex;
        flex-direction: column;

        label {
          font-family: Inter, sans-serif;
          font-size: 12px;
          color: #fff;
          @include mobile {
            color: $--dark-gray;
          }
          font-weight: 600;
        }
      }

      &__button {
        width: 100%;
      }
    }
  }
}
